* {
	margin: 0;
}
body {
	background: #111111;
}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
#slide-wrapper {
	width: 100vw;
	height: 100vh;
}
#slide,#slide-controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
#slide-controls {
	opacity: 1;
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
}
#slide-controls.hide {
	opacity: 0;
}
#current-image {
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
	display: block;
	margin: auto;
	text-align: center;
	border: 0px;
	max-width: 100%;
	max-height: 100%;
}
#prev-button,#next-button,#menu-button,#source-button {
	display: block;
	border: solid #dddddd;
	border-width: 2px;
	border-color: #dddddd;
	float: left;
	font-size: 30px;
	color: #dddddd;
	text-shadow: 0 0 4px #000000;
	background-color: Transparent;
}
#prev-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
}
#menu-button {
	position: absolute;
	top: 0;
	left: 30%;
	width: 40%;
	height: 50%;
}
#next-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: 100%;
}
#source-button {
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 40%;
	height: 50%;
	line-height: 47vh;
	text-align: center;
	box-sizing: border-box;
}
#search {
	width: 400px;
	margin: 60px auto 0 auto;
}
#search>* {
	width: 400px;
	height: 30px;
	margin: 20px auto 0 auto;
}
